    *{
        font-family: Arial, Helvetica, sans-serif;
    }

    .img-move {
    position: absolute;
    }
    .img-move-1 {
    left: 60%;
    bottom: 5%;
    }
    .img-move-2 {
    right: 1%;
    bottom: 1%;
    }
    .contenedor{
        width: 80%;
        align-items: center;
    }
    .foto{
        height: 550px;
    }

    .foto2{
        height: 50%;
    }

    .dark-background{
        background-color: black;
    }

    .textorojo{
        color: #FF1616;
    }

    .absolute{
        position: absolute;
        top: 1900px;
        right: 317px;
    }

    .relative{
        position: relative;
    }

    .debajo{
        z-index: 1;
    }

    .encima{
        z-index: 2;
    }