.form-popup {
    display: none;
    position: fixed;
    z-index: 9;
}

.btn-dark.custom-btn{
    background-color: #ff1616;
    border-color: #ff1616;
    color: white;
}

.lado{
    float: right;
}