.puntero{
    cursor:pointer;
}
.dark-background{
    background-color: black;
}
.hover:hover{
    background-color: yellow;
}

.icono{
    max-width: auto;
    max-height: 40px;
    padding-right: 4%;
}

.espacioizq{
    margin-left: 45%;
}

.encima:hover{
    color: #ff1616;
}

.red{
    color: #ff1616;
}

.btn-light.custom-btn{
    background-color: #ff1616;
    border-color: #ff1616;
    color: white;
}

